@font-face {
    font-family: "overpass-regular";
    src: url("overpass-regular.otf");
}

@font-face {
    font-family: "overpass-bold";
    src: url("overpass-bold.otf");
}

@font-face {
    font-family: "overpass-extrabold-italic";
    src: url("overpass-extrabold-italic.otf");
}

@font-face {
    font-family: "overpass-extrabold";
    src: url("overpass-extrabold.otf");
}

@font-face {
    font-family: "overpass-extralight";
    src: url("overpass-extralight.otf");
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    z-index: 100;
}

section {
    margin-top: -4.2rem;
    padding-top: 4.2rem;
}

.proj {
    align-items: center;
    overflow: hidden;
}

.proj .desc {
    opacity: 0;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.proj:hover .desc {
    opacity: 1;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.proj-row {
    height: 46vh;
}

.text {
    overflow: hidden;
    padding-bottom: 1rem;
}

.kulturista {
    font-family: kulturista-web, serif;
}

.overpass-bold {
    font-family: overpass-bold, sans-serif;
}

.overpass-regular {
    font-family: overpass-regular, sans-serif;
}

.overpass-extrabold-italic {
    font-family: overpass-extrabold-italic, sans-serif;
}

.overpass-extrabold {
    font-family: overpass-extrabold, sans-serif;
}

.overpass-extralight {
    font-family: overpass-extralight, sans-serif;
}

#logo {
    max-height: 2rem;
}

:root {
    --spacing-none: 0;
    --spacing-extra-small: .25rem;
    --spacing-small: .5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-kinda-large: 3.1rem;
    --spacing-extra-large: 4rem;
    --spacing-extra-extra-large: 8rem;
    --spacing-extra-extra-extra-large: 16rem;
}

@media screen and (max-width: 20em) {
    .text {
        display: none;
    }
}

@media screen and (max-width: 30em) {
    .pb45 {
        padding-bottom: var(--spacing-kinda-large);
    }

    .pt45 {
        padding-top: var(--spacing-kinda-large);
    }

    .pv45 {
        padding-top: var(--spacing-kinda-large);
        padding-bottom: var(--spacing-kinda-large);
    }
}

@media screen and (min-width: 30em) {
    .pb45-ns {
        padding-bottom: var(--spacing-kinda-large);
    }

    .pt45-ns {
        padding-top: var(--spacing-kinda-large);
    }

    .pv45-ns {
        padding-top: var(--spacing-kinda-large);
        padding-bottom: var(--spacing-kinda-large);
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .pb45-m {
        padding-bottom: var(--spacing-kinda-large);
    }

    .pt45-m {
        padding-top: var(--spacing-kinda-large);
    }

    .pv45-m {
        padding-top: var(--spacing-kinda-large);
        padding-bottom: var(--spacing-kinda-large);
    }
}

@media screen and (min-width: 60em) {
    .pb45-l {
        padding-bottom: var(--spacing-kinda-large);
    }

    .pt45-l {
        padding-top: var(--spacing-kinda-large);
    }

    .pv45-l {
        padding-top: var(--spacing-kinda-large);
        padding-bottom: var(--spacing-kinda-large);
    }
}